{% extends 'main/base.html' %}
{% load static %}
{% block title %}Nova Dev{% endblock %}

{% block content %}

<section class="hero is-fullheight has-background">

    <div class="hero-background">
        <div class="bg-overlay"></div>
        <img src="{% static 'main/images/img5.jpg' %}" alt="Personal Trainer">
    </div>

    <div class="hero-body">
        <div class="container">

            <div class="columns is-multiline is-bottom-align">
                <div class="column is-full has-text-left">
                    <h1 class=" is-size-5-desktop is-size-7-mobile has-text-primary is-italic">- FIT YOUR LIFE</h1>
                </div>
                <div class="column is-full has-text-left">
                    <h1 class="main-title is-size-1-desktop has-text-white ">WE PROVIDE THE</h1>
                </div>
                <div class="column is-full has-text-left">
                    <h1 class="main-title is-size-1-desktop has-text-primary ">BEST TRAINING</h1>
                </div>
                <div class="column is-full has-text-left">
                    <h1 class="main-title is-size-1-desktop has-text-white ">PROGRAM.</h1>
                </div>

            </div>

            <div class="columns is-left-align">
                <div class="column is-half has-text-left">
                    <p class="is-size-6-desktop has-text-white">Creating custom workout plans tailored to your unique needs. Whether you're looking to build muscle, lose weight, or simply lead a healthier lifestyle.</p>
                </div>
            </div>

            <div class="columns is-left-align">
                <div class="column is-half has-text-left">
                    <div class="buttons">
                        <a href="" class="button is-primary">Contact Us</a>
                        <a href="" class="button is-outlined is-primary">Our Program</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="plans">



                <div class="plan-box ">
                    <h1 class="main-title is-size-5-desktop is-uppercase has-text-primary  has-text-left">pro equipment</h1>
                    <p class="has-text-white is-size-6-desktop has-text-left">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
                    <span class="has-text-right is-right has-text-primary">
                        <i class="fa-solid fa-medal icon"></i>
                    </span>
                </div>
    
                <div class="plan-box">
                    <h1 class="main-title is-size-5-desktop is-uppercase has-text-primary has-text-left">expert trainer</h1>
                    <p class="has-text-white is-size-6-desktop has-text-left">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
                    <span class="has-text-right has-text-primary">
                        <i class="fa-solid fa-dumbbell icon"></i>
                    </span>
                </div>
    
                <div class="plan-box">
                    <h1 class="main-title is-size-5-desktop is-uppercase has-text-primary has-text-left">health report</h1>
                    <p class="has-text-white is-size-6-desktop has-text-left">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
                    <span class="has-text-right has-text-primary">
                        <i class="fa-solid fa-clipboard-list icon"></i>
                    </span>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="hero ">
    <div class="hero-body">
        <div class="container">

            <div class="columns is-vcentered">
                
                <!-- Left Column (Image + Highlight Boxes)-->
                 <div class="column is-half image-container">
                    <figure class="image is-4by3">
                        <img src="{% static 'main/images/img31.jpg' %}" alt="Trainer image">
                    </figure>
                    <div class="highlight-box">
                        <div>20+</div>
                        <div style="font-size: 1rem; font-weight:normal">Training Programs</div>
                    </div>
                    <div class="trapezoid ">
                        <div class="trapezoid-content">
                            <i class="fas fa-phone trapezoid-icon"></i>
                            <div class="trapezoid-text">
                                <span>Call us</span>
                                <span>9195019343</span>
                            </div>
                        </div>
                    </div>
                 </div>

                 <!--Right Column (Text Conent)-->
                 <div class="column is-half">
                    <div class="section-heading"> - ABOUT US</div>
                    <h1 class="main-title">
                        <span>ALWAYS PROVIDE</span><br>
                        <span>BEST FITNESS</span><br>
                        <span class="highlight">TRAINERS.</span>
                    </h1>
                    <p class="mt-4">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    </p>
                    <ul class="check-list mt-4">
                        <li><i class="fas fa-check-circle"></i>Lorem ipsum dolor sit amet, consectetur.”</li>
                        <li><i class="fas fa-check-circle"></i>Lorem ipsum dolor sit amet, consectetur.”</li>
                        <li><i class="fas fa-check-circle"></i>Lorem ipsum dolor sit amet, consectetur.”</li>
                        <li><i class="fas fa-check-circle"></i>Lorem ipsum dolor sit amet, consectetur.”</li>
                    </ul>
                    <a href="" class="button is-outline-is-primary">Learn more</a>
                 </div>

            </div>

        </div>
    </div>
</section>

<section class="program-section bg-attach-cover program">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="has-text-left has-text-black is-italic is-uppercase has-text-weight-bold">- Our Program</h1>
                <h1 class="main-title is-size-1-desktop has-text-left has-text-black is-uppercase">Give shape of your body.</h1>
                <p class="is-size-6-desktop has-text-black has-text-left mt-4 mb-4">Creating custom workout plans tailored to your unique needs. Whether you're looking to build muscle, lose weight, or simply lead a healthier lifestyle.</p>
                <div class="buttons is-left mt-4">
                    <a href="" class="button is-outlined is-black">All Service</a>
                </div>
            
            </div>

            <!-- Caruosel column-->
            <div class="column is-half">

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide" style="background-image: url('{% static "main/images/Image4.jpg" %}');">
                            <div class="slide-content">
                                <h1 class="main-title has-text-white is-uppercase">basic exercise</h1>
                                <p class="is-size-6-desktop">Lorem ipsum dolor sit amet, consectetur.”</p>
                                <a href="" class="has-text-primary is-uppercase">Learn more</a>
                            </div>
                        </div>

                        <div class="swiper-slide" style="background-image: url('{% static "main/images/Image2.jpg" %}');">
                            <div class="slide-content">
                                <h1 class="main-title has-text-white is-uppercase">Body building</h1>
                                <p class="is-size-6-desktop">Lorem ipsum dolor sit amet, consectetur.”</p>
                                <a href="" class="has-text-primary is-uppercase">Learn more</a>
                            </div>
                        </div>

                        <div class="swiper-slide" style="background-image: url('{% static "main/images/img40.jpg" %}');">
                            <div class="slide-content">
                                <h1 class="main-title has-text-white is-uppercase">advance exercices</h1>
                                <p class="is-size-6-desktop">Lorem ipsum dolor sit amet, consectetur.”</p>
                                <a href="" class="has-text-primary is-uppercase">Learn more</a>
                            </div>
                        </div>

                        <div class="swiper-slide" style="background-image: url('{% static "main/images/img39.jpg" %}');">
                            <div class="slide-content">
                                <h1 class="main-title has-text-white is-uppercase">regular workout</h1>
                                <p class="is-size-6-desktop">Lorem ipsum dolor sit amet, consectetur.”</p>
                                <a href="" class="has-text-primary is-uppercase">Learn more</a>
                            </div>
                        </div>


                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            
            <div class="columns is-centered">
                <div class="column is-half has-text-centered" style="max-width: 400px; margin: 0 auto;">
                    <figure class="image is-3by4">
                        <img class="custom-rounded" src="{% static 'main/images/greg.jpg' %}" alt="Greg the Trainer">
                    </figure>
                </div>
                <!--Traine Info-->
                <div class="column is-half">
                    <h1 class="main-title is-size-5-desktop is-uppercase is-italic has-text-primary">- trainer</h1>
                    <h1 class="main-title is-size-1-desktop has-text-white is-uppercase">Meet <span class="has-text-primary">Greg</span></h1>
                    <h1 class="main-title is-size-6-desktop has-text-primary">Personal Trainer</h1>
                    <p class="mt-6 is-size-6-desktop has-text-white">Greg is a certified strength and conditioning coach with over 10 years of experience in personal training and group fitness. He specializes in functional training, athletic development, and helping clients achieve their fitness goals safely and effectively.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">

            <!--Firt Row -->
            <div class="columns">
                <div class="column is-half has-text-left">
                    <h1 class="main-title has-text-primary is-size-5-desktop is-italic is-uppercase">- testimonials</h1>
                    <h1 class="main-title is-size-1-desktop has-text-white is-uppercase">
                        what they say <span class="has-text-primary">
                            about us.
                        </span>
                    </h1>

                </div>

                <div class="column is-half has-text-left">
                    <p class="has-text-white">Creating custom workout plans tailored to your unique needs. Whether you're looking to build muscle, lose weight, or simply lead a healthier lifestyle.</p>
                </div>
            </div>

            <!-- Second Row-->
             <div class="columns is-multiline mt-6">
                <div class="column is-half">
                    <div class="box testimonial-box">
                        <i class="fa-solid fa-quote-left quote-icon"></i>

                        <!--Star rating-->
                        <div class="rating-stars">
                            <i class="fa-solid fa-star has-text-warning"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="has-text-white is-size-6-desktop">
                            “From the first day, their enthusiasm and expertise have shone through. They’ve helped me not only with physical workouts but also with setting and achieving personal goals. My energy levels are higher, and I’ve developed a love for fitness that I never had before."
                        </p>
                        <!-- Testimonial text-->
                        <div class="reviewer-info mt-4">
                            <figure class="image is-48x48 mr-3">
                                <img src="{% static 'main/images/profile1.jpg' %}" alt="agenez queen" class="is-rounded">
                            </figure>
                            <div>
                                <h1 class="main-title has-text-white is-size-4-desktop is-uppercase">agnex queen</h1>
                                <p class="has-text-primary is-size-6-desktop">Designation</p>
                             </div>
                         </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box testimonial-box">
                        <i class="fa-solid fa-quote-left quote-icon"></i>

                        <!--Star rating-->
                        <div class="rating-stars">
                            <i class="fa-solid fa-star has-text-warning"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="has-text-white is-size-6-desktop">
                            “From the first day, their enthusiasm and expertise have shone through. They’ve helped me not only with physical workouts but also with setting and achieving personal goals. My energy levels are higher, and I’ve developed a love for fitness that I never had before."
                        </p>

                        <!-- Testimonial text-->
                         <div class="reviewer-info mt-4">
                            <figure class="image is-48x48 mr-3">
                                <img src="{% static 'main/images/profile2.jpg' %}" alt="agenez queen" class="is-rounded">
                            </figure>
                            <div>
                                <h1 class="main-title has-text-white is-size-4-desktop is-uppercase">Brient adam</h1>
                                <p class="has-text-primary is-size-6-desktop">Designation</p>
                             </div>
                         </div>
                         
                    </div>
                </div>
             </div>



        </div>
    </div>
</section>

{% endblock %}

  